.DropdownMenu {
    background: #f5f8fa;
    color: #33475b;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5%;
    align-items: baseline;
}

.Title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.Title::before {
    content: url("../assets/Vector.png");
}
.Title::after {
    position: relative;
    left: 20%;
    content: url("../assets/Polygon.png");
}
.Dropdown {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
