.Dropdown {
    background: #f5f8fa;
    color: #33475b;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5%;
    align-items: baseline;
    border: 1px solid #cbd6e2;
}

.Title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    cursor: pointer;
    p {
        margin: 10px;
    }
}
.Title::before {
    content: url("../assets/Vector.png");
    margin: 0px 3px;
}
.Title::after {
    right: 1%;
    content: url("../assets/Polygon.png");
    transition: all 1s;
    transform: rotate(0deg);
}
.Title1::after {
    transform: rotate(-180deg);
}

.DropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    transition: opacity 1s;
    opacity: 0;
    width: 100%;
    max-height: 83px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    scrollbar-color: #cbd6e2 transparent;
    scrollbar-width: thin;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width */
    &::-webkit-scrollbar {
        width: 3px;
        height: 39px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #cbd6e2;
        border-radius: 10px;
    }
}
.DropdownMenu1 {
    opacity: 1;
}

input {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 1px;
    border: 1.5px solid #7c99b6;

    &:checked {
        background-color: #7c99b6;
        background-image: url("../assets/check.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 10px;
    }
}
