body {
  box-sizing: border-box;
  max-width: 1440px;
  height: 1024px;
  font-family: Noto Sans;
  background: url("./assets/Blob.png") no-repeat center;
  margin: 0 auto;
  padding: 10%;
  background-position: 50% 25%;
}
