body {
  box-sizing: border-box;
  height: 100%;
  max-width: 1440px;
  max-height: 1024px;
  align-self: center;
  margin: auto;
  padding-top: 10%;
  font-family: Noto Sans;
  background: url("./assets/Blob.png") no-repeat center;
  padding: 10%;
}
